@inherits LayoutComponentBase

<div class="layout">

    <header class="navbar">
        <NavLink href="/" class="logo">
            WebChat
        </NavLink>

        <nav class="nav-links">
            <NavLink href="/Account/Login">Login</NavLink>
            <NavLink href="/Account/Register" class="btn-outline">Register</NavLink>
        </nav>
    </header>

    <main class="content">
        @Body
    </main>

</div>

@code {
    [Inject] NavigationManager NavManager { get; set; }

}