@inherits LayoutComponentBase
@inject NavigationManager Nav

<div class="navbar">
    <div class="nav-container">

        <!-- LEFT (пусто для баланса) -->
        <div class="nav-left"></div>

        <!-- CENTER LOGO -->
        <div class="logo-center" @onclick="ReloadHome">
            WebChat
        </div>

        <!-- RIGHT -->
        <div class="auth">
            <a href="/login">Login</a>
            <a href="/register" class="signup">Sign up</a>
        </div>

    </div>
</div>

<div class="content">
    @Body
</div>

<!-- FOOTER -->
<div class="footer">
    <a href="/support">Support</a>
</div>

@code {
    void ReloadHome()
    {
        Nav.NavigateTo("/", forceLoad: true);
    }
}