@inherits LayoutComponentBase

<div class="layout">

    <header class="navbar">
        <div class="logo" @onclick="() => NavManager.NavigateTo('/'.ToString())">
            WebChat
        </div>

        <nav class="nav-links">
            <a href="/login">Login</a>
            <a href="/register" class="btn-outline">Register</a>
        </nav>
    </header>

    <main class="content">
        @Body
    </main>

</div>

@code {
    [Inject] NavigationManager NavManager { get; set; }
}