@page "/Account/Login"


@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using WebChat.Data
@using Account.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject NavigationManager NavigationManager
@inject ILogger<Login> Logger

<div class="auth-container">

    <div class="auth-card fade-scale">

        <h2>Sign in</h2>

        <EditForm Model="Input" OnSubmit="LoginUser" FormName="login">
            <DataAnnotationsValidator />

            <InputText @bind-Value="Input.Email"
                       @bind-Value:event="oninput"
                       placeholder="Email"
                       class="input" />
            <ValidationMessage For="() => Input.Email" class="validation-message" />

            <InputText @bind-Value="Input.Password"
                       @bind-Value:event="oninput"
                       type="password"
                       placeholder="Password"
                       class="input" />

            <ValidationMessage For="() => Input.Password" class="validation-message" />

            @if (!string.IsNullOrEmpty(errorMessage))
            {
                <div class="auth-error">@errorMessage</div>
            }

            <button type="submit" class="btn-primary full">Login</button>

        </EditForm>

        <p class="auth-footer">
            Don’t have an account?
            <a href="/Account/Register">Sign up</a>
        </p>

    </div>
    <section id="learn" class="learn-section">
    </section>

    <div class="auth-bg"></div>

</div>

@code {
    [SupplyParameterFromForm]
    private LoginModel Input { get; set; } = new();
    private string? errorMessage;

    private async Task LoginUser(EditContext context)
    {
        if (!context.Validate())
            return;

        var user = await SignInManager.UserManager.FindByEmailAsync(Input.Email);

        if (user == null)
        {
            errorMessage = "Invalid email or password.";
            return;
        }

        var result = await SignInManager.PasswordSignInAsync(
            user,
            Input.Password,
            isPersistent: true,
            lockoutOnFailure: false
        );

        if (result.Succeeded)
        {
            NavigationManager.NavigateTo("/Chat", true);
        }
        else
        {
            errorMessage = "Invalid email or password.";
        }

    }

}