@page "/Account/Login"


@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using WebChat.Data
@using Account.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject NavigationManager NavigationManager
@inject ILogger<Login> Logger

<div class="auth-container">

    <div class="auth-card fade-scale" @key="Guid.NewGuid()">

        <h2>Sign in</h2>

        <EditForm Model="Input" OnValidSubmit="LoginUser" FormName="login">
            <DataAnnotationsValidator />

            <InputText @bind-Value="Input.Email"
                       placeholder="Email"
                       class="input" />
            <ValidationMessage For="() => Input.Email" class="validation-message" />

            <InputText @bind-Value="Input.Password"
                       type="password"
                       placeholder="Password"
                       class="input" />

            <ValidationMessage For="() => Input.Password" class="validation-message" />

            @if (!string.IsNullOrEmpty(errorMessage))
            {
                <div class="auth-error">@errorMessage</div>
            }

            <button type="submit" class="btn-primary full">Login</button>

        </EditForm>

        <p class="auth-footer">
            Don’t have an account?
            <a href="/Account/Register">Sign up</a>
        </p>

    </div>

    <div class="auth-bg"></div>

</div>

@code {
    private LoginModel Input { get; set; } = new();
    private string? errorMessage;

    private async Task LoginUser()
    {
        var user = await SignInManager.UserManager.FindByEmailAsync(Input.Email);

        if (user == null)
        {
            errorMessage = "Invalid email or password.";
            return;
        }

        var result = await SignInManager.PasswordSignInAsync(
            user,
            Input.Password,
            isPersistent: true,
            lockoutOnFailure: false
        );

        if (result.Succeeded)
        {
            NavigationManager.NavigateTo("/Chat", forceLoad: true);
        }
        else
        {
            errorMessage = "Invalid email or password.";
        }
    }

}