@page "/chat"

<div class="chat">
    <div class="sidebar"></div>

    <div class="chat-list">
        <p>Chats</p>
    </div>

    <div class="chat-window">
        <p style="color:white; padding:20px;">Select a chat</p>
    </div>
</div>