@page "/"

<div class="home-center">

    <div class="bg-glow"></div>

    <div class="home-content">
        <p class="slogan">
            Talk instantly. Connect globally.  
            Your conversations — reimagined.
        </p>
        
        <div class="hero-actions">
            <input placeholder="Email or phone" />
            <button onclick="location.href='/register'">Get Started</button>
        </div>
    </div>
</div>