@page "/login"

<div class="auth-container">

    <div class="auth-card fade-scale">

        <h2>Sign in</h2>

        <input placeholder="Email" class="input" />
        <input type="password" placeholder="Password" class="input" />

        <button class="btn-primary full">Login</button>

        <p class="auth-footer">
            Don’t have an account?
            <a href="/register">Sign up</a>
        </p>

    </div>

    <div class="auth-bg"></div>

</div>