@page "/register"

<div class="auth-page">
    <div class="auth-card">
        <h2>Create account</h2>

        <input placeholder="Email or Phone" />
        <input placeholder="Username" />
        <input type="password" placeholder="Password" />

        <button>Create</button>
    </div>
</div>