@page "/register"

<div class="auth-container">

    <div class="auth-card fade-scale">

        <h2>Create account</h2>

        <input placeholder="Email" class="input" />
        <input placeholder="Username" class="input" />
        <input type="password" placeholder="Password" class="input" />
        <input type="password" placeholder="Confirm password" class="input" />

        <button class="btn-primary full">Create account</button>

        <p class="auth-footer">
            Already have an account?
            <a href="/login">Sign in</a>
        </p>

    </div>

    <div class="auth-bg"></div>

</div>