@page "/support"

<div style="padding:120px 40px;">
    <h1 style="color:white;">Support</h1>

    <p>Contact us: support@webchat.com</p>

    <textarea style="width:400px;height:120px;"></textarea>
    <br />
    <button>Send</button>
</div>